<topnav class="topnavbar  d-sm-none">
    <div class="topnav-actions">
        <a href="tel:18001022727" class="call-now">
          <span><i class="fa fa-phone"></i></span> 1800-102-2727
        </a>
        <a href="#" class="select-city d-flex"><span><i class="fa fa-location"></i></span>Select City</a>
        <form class="d-flex tf-search">
            <input class="form-control search-field me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary search-btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
    </div>
</topnav>
<topnav class="topnavbar d-sm-flex d-none">
    <ul class="topnav-links">
        <li><a href="#">Digital</a></li>
        <li><a href="#">Distance Learning</a></li>
        <li><a href="#">EduTV</a></li>
        <li><a href="#">School Integrated Program</a></li>
    </ul>
    <div class="topnav-actions">
        <a href="#" class="btn pay-due ">Pay Due Fee</a>
        <a href="tel:18001022727" class="call-now">
           <span class=""><i class="fa fa-phone"></i></span> 1800-102-2727
        </a>
        <a href="#" class="select-city"><span><i class="fa fa-location"></i></span>Select City</a>
        <a href="#" class="login ">Log in</a>
        <a href="#" class="btn signup ">Sign Up</a>
    </div>
</topnav>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container-fluid">
<a class="navbar-brand" href="/"><img src="img/570625.png" width="100"></a>    
    <li class="nav-item d-block d-sm-none mobile-nav">
      <a class="nav-link" href="#" style="color: #00a9e0 !important; font-weight: 500;">Pay Due</a>
    </li>
<li class="nav-item d-block d-sm-none mobile-nav">
      <a class="nav-link" href="#"  style="color: #00a9e0 !important; font-weight: 500;"><i class="fa fa-user"></i></a>
    </li>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>