<div class="bg-light py-lg-5 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div><h5></h5></div>
                <div>
                    <img src="img/570625.png" class="mb-4" style="width: 50%; max-width: 200px;">
                </div>
                <p class="text-dark">Teachers Factory dummy or placeholder text commonly used in graphic design, publishing, and web development to fill empty spaces in a layout that do not yet have content.</p>
            </div>
            <div class="col-sm-3">
                <div><h5>JEE MAIN</h5></div>
                <ul style="list-style-type: none; color: #fff; padding-left: 0; font-size: 14px; line-height: 25px;">
                    <li><a class="text-dark text-decoration-none" href="About Aakash" target="_blank">About Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Why Aakash" target="_blank">Why To Choose Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Methodology & Concept" target="_blank">Methodology & Concept</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash in Media" target="_blank">In Media</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Nationwide Centers" target="_blank">Nationwide Centers</a></li>
                <li><a class="text-dark text-decoration-none" href="Franchise Information" target="_blank">Franchise Information</a></li>
                <li><a class="text-dark text-decoration-none" href="Investor Corner" target="_blank">Investor Corner</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div><h5>NEET</h5></div>
                <ul style="list-style-type: none; color: #fff; padding-left: 0; font-size: 14px; line-height: 25px;">
                    <li><a class="text-dark text-decoration-none" href="About Aakash" target="_blank">About Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Why Aakash" target="_blank">Why To Choose Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Methodology & Concept" target="_blank">Methodology & Concept</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash in Media" target="_blank">In Media</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Nationwide Centers" target="_blank">Nationwide Centers</a></li>
                <li><a class="text-dark text-decoration-none" href="Franchise Information" target="_blank">Franchise Information</a></li>
                <li><a class="text-dark text-decoration-none" href="Investor Corner" target="_blank">Investor Corner</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div><h5>COURSES & SCHOLARSHIPS</h5></div>
                <ul style="list-style-type: none; color: #fff; padding-left: 0; font-size: 14px; line-height: 25px;">
                    <li><a class="text-dark text-decoration-none" href="About Aakash" target="_blank">About Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Why Aakash" target="_blank">Why To Choose Us</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Methodology & Concept" target="_blank">Methodology & Concept</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash in Media" target="_blank">In Media</a></li>
                <li><a class="text-dark text-decoration-none" href="Aakash Nationwide Centers" target="_blank">Nationwide Centers</a></li>
                <li><a class="text-dark text-decoration-none" href="Franchise Information" target="_blank">Franchise Information</a></li>
                <li><a class="text-dark text-decoration-none" href="Investor Corner" target="_blank">Investor Corner</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom bg-dark">
    <div class="d-sm-flex justify-content-between">
        <div><div class="tssocial-icons mb-sm- d-sm-flex justify-content-center align-items-center">
    <span class="me-3">Follow Us:</span>
    <a href="#" class="facebook" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="twitter" aria-label="Twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="youtube" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
    <a href="#" class="instagram" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
</div></div>
        <div class="pt-3"><p>&copy; 2024 Teacher Factory. All rights reserved.</p></div>
    </div>
</div>
